<mat-card class="rounded w-100 border border-primary mt-1">
  <mat-card-content>
    <div class="d-flex flex-column">
      <form [formGroup]="postForm">
        <mat-card class="card mb-3">
          <mat-card-title>General Post Information</mat-card-title>
          <mat-card-subtitle>
            <app-oms-dropdown
              [required]="true"
              [items]="courses"
              name="courseSelector"
              [invalidId]="0"
              [formGroup]="postForm"
              placeholder="Select Course"
              [(selectedItem)]="postCourseId"
              invalidValueMessage="Invalid Course ID"
              selectRequiredMessage="Course is required"
              [doValidation]="true">
            </app-oms-dropdown>
          </mat-card-subtitle>

          <mat-card-content class="d-flex flex-column">
            <mat-form-field class="w-25 mb-2">
              <input matInput maxlength="200" #message (change)="titleUpdate()" placeholder="Title" formControlName="title">
              <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
            </mat-form-field>

            <app-oms-radiogroup
              required="true"
              [items]="postTypeData"
              name="postTypeSelector"
              [formGroup]="postForm"
              [direction]="DirAlign.row"
              title="Post Type"
              [selectedItem]="1"
              (outputData)="postTypeUpdate($event)">
            </app-oms-radiogroup>
          </mat-card-content>
        </mat-card>

        <mat-card class="card mb-3" [hidden]="!(postCourseId > 0)">
          <mat-card-header>
            <mat-card-title>Post Options</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-oms-date
              name="releaseDate"
              [formGroup]="postForm"
              placeHolder="Release Post on This Date"
              [direction]="DirAlign.column"
              (outputDate)="releaseDateUpdate($event)"
              class="mb-2 w-25"
              [hidden]="hideReleaseDate"></app-oms-date>

            <app-oms-user-lookup
              [classId]="postCourseId"
              [formGroup]="postForm"
              placeholder="Select User(s)"
              [hidden]="!(postCourseId > 0)"
              name="userLookup"
              [type]="usrLookupType.user"
              (outputData)="getUsers($event)">
            </app-oms-user-lookup>

            <app-oms-user-lookup
              [classId]="postCourseId"
              [formGroup]="postForm"
              placeholder="Select Group(s)"
              name="groupLookup"
              [hidden]="!(postCourseId > 0)"
              [type]="usrLookupType.group"
              (outputData)="getGroups($event)">
            </app-oms-user-lookup>

            <app-oms-toggle
              name="makeThreadReadOnly"
              [formGroup]="postForm"
              label="Make Thread Read-Only"
              [hidden]="hideReleaseDate">
            </app-oms-toggle>

            <app-oms-toggle
            name="isAnonymousPost"
            [formGroup]="postForm"
            label="Post Anonymously"
            [hidden]="!showAnonymousPost">
            </app-oms-toggle>
          </mat-card-content>
        </mat-card>

        <mat-card class="card mb-3" [hidden]="!(postCourseId > 0) || hideNotifications">
          <mat-card-header>
            <mat-card-title>Notifications</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-slide-toggle
              color="primary"
              [checked]="false"
              formControlName="sendEmailNotificationsImmediately">
              Send Email Notifications Regardless of User Settings
            </mat-slide-toggle>
          </mat-card-content>
        </mat-card>

        <mat-card class="card mb-3" *ngIf="postType == postTypeEnum.poll">
          <mat-card-title>Poll Options</mat-card-title>
          <mat-card-content class="d-flex flex-column">
            <app-oms-list title="Poll Answers"
                          name="pollAnswers"
                          [formGroup]="postForm"
                          [direction]="DirAlign.row"
                          showAddButton="true"
                          class="w-25"
                          checkboxPosition="before"
                          (dataOutput)="updatePollVotes($event)">
            </app-oms-list>

            <mat-form-field>
              <input matInput placeholder="Correct Answer" formControlName="correctAnswer">
            </mat-form-field>

            <app-oms-radiogroup
              required="false"
              [items]="pollMultiSelectItems"
              name="PollMultiSelect"
              [formGroup]="postForm"
              [direction]="DirAlign.row"
              title="Poll Selection Choices"
              (outputData)="multiSelectUpdate($event)"
              class="mb-3"></app-oms-radiogroup>

            <app-oms-radiogroup
              required="false"
              [items]="showStudentResults"
              name="showStudentResults"
              [formGroup]="postForm"
              [direction]="DirAlign.row"
              title="Show Students Results To"
              (outputData)="studentResultsUpdate($event)"
              class="mb-3"></app-oms-radiogroup>

            <app-oms-radiogroup
              required="false"
              [items]="RevotesAllowed"
              name="RevotesAllowed"
              [formGroup]="postForm"
              [direction]="DirAlign.row"
              title="Are Revotes Allowed?"
              (outputData)="revotesUpdate($event)"
              class="mb-3"></app-oms-radiogroup>

            <app-oms-radiogroup
              required="false"
              [items]="PollAnonymity"
              name="PollAnonymity"
              [formGroup]="postForm"
              [direction]="DirAlign.row"
              (outputData)="anonymityUpdate($event)"
              title="Poll Anonymity"></app-oms-radiogroup>
          </mat-card-content>
        </mat-card>

        <div class="mb-3">
          <ckeditor #myckeditor [config]="ckeConfig" debounce="500" formControlName="editor"></ckeditor>
        </div>

        <div class="d-flex flex-row pt-2 pb-2">
          <button color="primary" type="submit" (click)="save()" [disabled]="!postForm.valid" mat-raised-button>Submit</button>&nbsp;
          <button color="accent" (click)="saveDraft()" mat-raised-button>Save Draft</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
