/node_modules
/node_modules/*
/build/venv
/build/venv/*
*.pyc
/build/manageModules/*.pyc
/build/manageModules/__pycache__
/build/manageModules/__pycache__/*
*.pyc
/build/options.json
api/config/config.prod.js
**/.idea/tasks.xml
**/.idea/workspace.xml
api/.idea/workspace.xml
api/logs/*.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/oms-discussions.iml
.idea/vcs.xml
utils/SchemaUpdater/.vs/SchemaUpdater/v15/Server/sqlite3/db.lock
utils/SchemaUpdater/.vs/SchemaUpdater/v15/.suo
utils/SchemaUpdater/.vs/SchemaUpdater/v15/Server/sqlite3/storage.ide
utils/SchemaUpdater/.vs/SchemaUpdater/v15/Server/sqlite3/storage.ide-wal
utils/SchemaUpdater/bin/*
utils/SchemaUpdater/obj/*
devops/.vagrant/
devops/.vagrant
devops/.vagrant/*
devops/dev_environment/.vagrant
devops/dev_environment/*.log