.courseDefaultsSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 60px;
}

.fixSpacing {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.itemSpacing {
  margin-top: 30px;
}

.info-notice {
  font-size:12px;
  font-style: italic;
}
