include /oms-discussions/configs/nginx/blockedagents.rules;

{% if nginx_use_ssl %}
server { 
   listen 80;
   server_name {{ api_site }};
   return 301 https://$host$request_uri;
}
{% endif %}

server {
	 server_name {{ api_site }};
	
	{% if nginx_use_ssl %}
	  listen 443 ssl;
	  ssl_certificate {{ api_cert_location }};
	  ssl_certificate_key {{ api_cert_key_location }}; 		
	{% if create_ssl_certs %}
	  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
	{% endif %}
	
	{% else %}
	  listen 80;
	{% endif %}
	
	access_log {{ api_nginx_access_log }};
	error_log {{ api_nginx_error_log }};
	
	index index.html index.htm;

    if ($blockedagent) {
        return 403;
    }
	
	location / {
        proxy_pass {{ api_url }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
		
		add_header 'Access-Control-Allow-Origin' '{{ site }}';
        add_header 'Access-Control-Allow_Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
        add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH';

		if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Origin' '{{ site }}';
                add_header 'Access-Control-Allow_Credentials' 'true';
                add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
                add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH';
                add_header 'Access-Control-Max-Age' 1728000;
                add_header 'Content-Type' 'text/plain charset=UTF-8';
                add_header 'Content-Length' 0;
                return 204;
        }
    }

    include /etc/nginx/security.conf; 
}