<div [formGroup]="formGroup">
  <div *ngIf="direction == DirAlign.row" class="d-flex flex-row">
    <mat-form-field>
      <input matInput formControlName="{{name}}" [matDatepicker]="rangeOne" (dateChange)="setRangeOne($event)" [placeholder]="placeHolder">
      <mat-datepicker-toggle matSuffix [for]="rangeOne"></mat-datepicker-toggle>
      <mat-datepicker #rangeOne></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="direction == DirAlign.column" class="d-flex flex-column">
    <mat-form-field>
      <input matInput formControlName="{{name}}" [matDatepicker]="rangeOne" (dateChange)="setRangeOne($event)" [placeholder]="placeHolder">
      <mat-datepicker-toggle matSuffix [for]="rangeOne"></mat-datepicker-toggle>
      <mat-datepicker #rangeOne></mat-datepicker>
    </mat-form-field>
  </div>

</div>
