.input-full-width {
  width: 100%;
  padding-top: 10px;
}

.threadComment {
  display: flex;
  flex-direction: column;
}
.threadCommentFooter {
  padding-top: 5px;
  font-style:italic;
  font-size: 14px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 11px;
}
